*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}
body{
    text-align: center;
}
.btn{
    width: 200px;
    height: 200px;
    border-radius: 20%;
    border: 10px solid black;
    text-align: center;
    font-size: 70px;
    margin: 5px;
}
.btn-container{
    display: flex;
    justify-content: center;
}
.one{
    background-color: #f99b45;
}
.two{
    background-color: #d95980;
}
.three{
    background-color: #819ff9;
}
.four{
    background-color: #63aac0;
}
.flash{
    background-color: white;
}
.userFlash{
    background-color: greenyellow;
}